@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');

.module {
    height:100vh;
    width:100%;
    background: url(../img/windmill.jpg);
    background-size: cover;
    left:0;
    top: 0;
  }

  .darken {
    background-image: 
      linear-gradient(
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.5)
      ),
      url(../img/windmill.jpg);
  }
  

h1 {
    width:100%;
    color:white;
    font-weight:300;
    font-size: 5.6rem;
    text-shadow: 4px 4px black;
    font-family: 'Playfair Display', serif;
}

h3 {
    width:100%;
    color:white;
    font-family: 'Playfair Display', serif;
    text-shadow: 1.5px 1.5px black;
    font-size:1.3em;

}

button{
    color:white;
    background-color: #222;
    border-radius: 25 px;
    border-color:black;
    font-size: 16 px;
    padding: 1rem;
    margin: 1rem;   
    width: 4em;
}

i{
    font-size: 1em;
    transform: perspective(500px);
}
.homelabels{
    position: relative;
    margin-left:2em;
    bottom:-50%;
}

.flex-container{
    display:flex;
    justify-content: space-around;
    padding:0px;
}


i{color:white;}


.test{
   padding-left:65%;
   position: fixed;
   z-index:100;
   width:100%;
}

.remove-all-margin-padding{
    margin:0 ! important;
    padding:0 ! important;
    }